{% load static %}
{% block content %}
{% include 'header.html' %}

    <!--header section end -->


	<!--footer section start -->
	<div class="footer_section layout_padding contact_section">
		<div class="container">
			<div class="row">
			    <div class="col-sm-3">
				    <div class="footer_contact">Login</div>
			    </div>
			  
		    </div>
		    <div class="enput_bt">
		    	<div class="row">
		    		<div class="col-md-6">
		    			<div class="input_main">
                       <div class="container">
                          <form action="logint" method="POST">
						{% csrf_token %}

						
                          
                            <div class="form-group">
                              <input type="text" class="email-bt"  name="email"  placeholder="EMAIL" >
                            </div>
							
					
								
							<div class="form-group">
                              <input type="text" class="email-bt"  name="password"  placeholder="password" >
                            </div>
							
							
							
							
                            
                       </div> 
                       <div class="send_bt_main">
                       	<div class="left">
                       		<div class="send_bt"><button name="submit" class="btn">login</button></div>
                       	</div>
						                          </form>

                       	<div class="right">
                       		<div class="social_icon">
                       			<ul>
                       				<li><a href="#"><img src="{% static 'images/fb-icon.png '%}"></a></li>
                       				<li><a href="#"><img src="{% static 'images/twitter-icon.png '%}"></a></li>
                       				<li><a href="#"><img src="{% static 'images/in-icon.png '%}"></a></li>
                       				<li><a href="#"><img src="{% static 'images/instagram-icon.png '%}"></a></li>
                       			</ul>
                       		</div>
                       	</div>
                       </div>
                    </div>
		    		</div>
		    		
		    	</div>
		    </div>
		    <div class="copyright_section">
		    	<p class="copyright_text">Copyright 2019 All Right Reserved By.<a href="https://html.design"> Free  html Templates</p>
		    </div>
		</div>
	</div>
	<!--footer section end -->

      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js '%}"></script>
      <script src="{% static 'js/popper.min.js '%}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js '%}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js '%}"></script>
      <script src="{% static 'js/plugin.js '%}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js '%}"></script>
      <script src="{% static 'js/custom.js '%}"></script>
      <!-- javascript --> 
      <script src="{% static 'js/owl.carousel.js '%}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js '%}"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         </script>	


         <script>
      // This example adds a marker to indicate the position of Bondi Beach in Sydney,
      // Australia.
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 40.645037, lng: -73.880224},
          });

        var image = 'images/location_point.png';
          var beachMarker = new google.maps.Marker({
             position: {lat: 40.645037, lng: -73.880224},
             map: map,
             icon: image
          });
        }
        </script>
        <!-- google map js -->
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
        <!-- end google map js -->
</body>
</html>


{% endblock %}