<html>
<head>
<title></title>
<body>
<form method="POST" enctype="multipart/form-data" action="staffdetalis">
<table>
<tr>
<td>Name:</td>
<td><input type="text" name="name"><br><br></td>
</tr>
<tr>
<td>Email:</td>
<td><input type="email" name="email"><br><br></td>
</tr>
<td>Password:</td>
<td><input type="text" name="password"><br><br></td>
<tr>
<td>Username:</td>
<td><input type="text" name="username"><br><br></td>
</tr>
<tr>
<td>Phone.No:</td>
<td><input type="text" name="phone_no"><br><br></td>
</tr>
<tr>
<td>Course:</td>
<td><input type="text" name="course"><br><br></td></tr>
</tr>
<tr>
<td>Address:</td>
<td><input type="text" name="address"><br><br></td>
</tr>
<tr>
<td>Image:</td>
<td><input type="file" name="image"><br><br></td>
</tr>
<tr>
<td><input type="submit" name="SUBMIT"></td>
</tr>
</td>
<table>
</form>
</body>
</head>
</html>
