
{% block content %}
<html>
<head>
<title></title>
<body>
<form >
{% csrf_token %}>
<table>
<tr>
<td>Staff_id:</td>
<td><input type="text" name="staffid"><br><br></td>
</tr>
<tr>
<td>Link</td>
<td><input type="text" name="link"><br><br></td>
</tr>
<td>Date</td>
<td><input type="date" name="date"><br><br></td>
<tr>
<td>Intership_id</td>
<td><input type="text" name="internship"><br><br></td>
</tr>
<td><input type="submit" name="SUBMIT"></td>
</tr>
</td>
<table>
</form>
</body>
</head>
</html>
{% endblock %}
