
<!-- End Header -->
{% load static %}
{% block content %}
{% include 'header.html' %}

  <!-- ======= Hero Section ======= -->
  
  <section style="background-color:rgba(55, 64, 85, 0.9);" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
     
    </div>
  </section><!-- End Hero -->

  <main id="main">

                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">View Internship</h1>
                        <ol class="breadcrumb mb-4">
                        </ol>
                       
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
										<th>Name</th>
										<th>Amount</th>
										<th>Duration</th>
										<th>Vaccancy</th>
										<th>Stipend</th>
										<th>Post date</th>
										<th>Last date</th>
										<th>Qualification</th>
										<th>Description</th>
										<th>Apply</th>
                                        </tr>
                                    </thead>
									
									{% for i in result %}
							<tr>
										<td>{{i.Name}}</td>
										<td>{{i.Amount}}</td>
										<td>{{i.Duration}}</td>
										<td>{{i.Vaccancy}}</td>
										<td>{{i.Stipend}}</td>
										<td>{{i.post_date}}</td>
										<td>{{i.last_date}}</td>
										<td>{{i.Qualification}}</td>
										<td>{{i.Description}}</td>
										<td><a href="{% url 'applyview' id=i.id %}">apply</a></td>
                                        </tr>
                                  
								  
								  {% endfor %}
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
				<footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Developed By Liji B Thomas</div>
                            <div>
                            </div>
                        </div>
                    </div>
                </footer>
                
            </div>
        </div>

{% include 'footer.html' %}
		{% endblock%}
