
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DEFSCOPE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Baker - v4.7.0
  * Template URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">DEFSCOPE</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
		{% if request.session.uid %}
				  <li><a class="nav-link scrollto" href="viewprofile">PROFILE</a></li>
				  <li class="dropdown"><a href="#"><span>VIEW</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
             
              <li><a href="viewinternshipandapply">VIEW INTERNSHIP</a></li>
              <li><a href="faculityview">VIEW FACULTY</a></li>
              <li><a href="viewnote">VIEW NOTES</a></li>
			  <li><a href="viewapplication">VIEW APPLICATION STATUS</a></li>

            </ul>
          </li>

          <li><a class="nav-link scrollto" href="viewclass">ATTEND CLASS	</a></li>

          <li><a class="nav-link scrollto" href="taskuploads">TASK UPLOAD	</a></li>

          <li><a class="nav-link scrollto" href="certificatee">CERIFICATE DOWNLOAD	</a></li>
		  
          <li><a class="nav-link scrollto" href="feedback">FEEDBACK	</a></li>

		<li><a class="nav-link scrollto" href="logout">LOGOUT</a></li>

		{% else %}


          <li><a class="nav-link scrollto active" href="#">HOME</a></li>
          <li><a class="nav-link scrollto" href="addstd">REGISTER</a></li>
          <li><a class="nav-link scrollto" href="login">LOGIN</a></li>
        {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  {% endblock %}