
<!-- End Header -->
{% load static %}
{% block content %}
{% include 'header.html' %}

  <!-- ======= Hero Section ======= -->
  
  <section style="background-color:rgba(55, 64, 85, 0.9);" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
     
    </div>
  </section><!-- End Hero -->

  <main id="main">


            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">View Application Status</h1>
                        <ol class="breadcrumb mb-4">
                        </ol>
                       
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
										<th>Internship Name</th>
										<th>Amount</th>
										<th>Date</th>
										<th>Phone No</th>
										<th>Status</th>

                                        </tr>
                                    </thead>
									
									{% for i in result %}
							<tr>
										<td>{{i.internshipname}}</td>
										<td>{{i.amount}}</td>
										<td>{{i.date}}</td>
										<td>{{i.phoneno}}</td>
										<td>{{i.status}}</td>

                                        </tr>
                                  
								  
								  {% endfor %}
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
				<footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Developed By Liji B Thomas</div>
                            <div>
                            </div>
                        </div>
                    </div>
                </footer>
                
            </div>
        </div>

{% include 'footer.html' %}
		{% endblock%}
